@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfd8dc;
}

h1 {
  margin: 0;
  text-align: center;
  padding: .7em 0;
  font-weight: 300;
}
h2 {
  margin: 0;
  padding-bottom: .5em;
  font-weight: 300;
}
.container {
  max-width: 768px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 1em 1.5em;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.column {
  width: 100%;
  margin-top: 1em;
}

.field {
  margin-bottom: 1em;
}

label {
  font-size: 1em;
  box-sizing: border-box;
  
}

input {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  border-radius: 2px;
  appearance: none;
  border: 1px solid #262626;
}

button {
  width: 100%;
  appearance: none;
  font-size: .8em;
  background-color: #A3B2B9;
  padding: .5em;
  cursor: pointer;
  transition: all .3s ease;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  text-transform: uppercase;
  margin-bottom: 1em;
}

button:hover {
  background-color: #e2f1f8;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ced7db;
  padding: .7em 0;
}

ul li:first-of-type {
  padding-top: 0;
}

ul li span {
  background-color: #ced7db;
  padding: .2em .7em;
}

.budget,
.remaining {
  display: flex;
  justify-content: space-between;
  padding: .6em .6em;
  background-color: #ced7db;
}

.remaining.green {
  background-color: #94CB9F;
}
.remaining.orange {
  background-color: #F9C95B;
}
.remaining.red {
  background-color: #F23936;
}
@media screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }
  .column {
    width: 50%;
    padding: .4em 1em;
    margin-top: 0;
  }
  .column:first-of-type {
    border-right: 1px solid #ced7db;
  }
  button {
    margin: 0;
  }
}
